[globals]
label_color = #888888
background_color = #000000

[header]
hostname_color = #FFFFFF
date_color = #888888
time_color = #FFFFFF
date_format = %d-%m-%Y
time_format = %H:%M:%S

[hero]
cpu_color = #FFFFFF
mem_color = #FFFFFF
disk_color = #FFFFFF
disk_mount = /
meter_mode = true
warn_at = 60
crit_at = 90
level_ok_color = #33AA33
level_warn_color = #CCCC33
level_crit_color = #CC3333

[secondary]
left = uptime
right = load
left_color = #FFFFFF
right_color = #FFFFFF

[interfaces]
wlp2s0 = auto
enp1s0 = auto
docker0 = auto

[services]
filter = all
active_color = #33AA33
failed_color = #CC3333
inactive_color = #888888
activating_color = #3399CC
reloading_color = #3399CC
deactivating_color = #CCAA33
maintenance_color = #888888
